/* About Me */

.about-section .about-image img {
    display: block;
    height: 576px;
    width: 922px;
    margin: 0px auto;
}

.about-section p {
    font-family: 'Crimson pro', serif;
    text-align: center;
}


/* Form Contact Styling */

.contact-section {
    min-height: 300px;
    padding-top: 20px;
    background-color: #d9d7bf7f;
    margin-bottom: 80px;
    font-family: 'Crimson pro', serif;
    color: #483d8b;
}

section h1,
p {
    margin: 20px;
    padding: 10px 50px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 12px 20px;
    width: 100%;
    font-family: 'Crimson pro', serif;
    font-size: 0.85rem;
    box-sizing: border-box;
    resize: none;
}

.newline {
    display: block;
    margin-bottom: 5px;
}

.margin-right-a {
    margin-right: 20px;
}

form {
    margin: 40px 80px;
}

.submitbutton {
    background-color: rgba(92, 195, 221, 0.9);
    color: #8b5413;
    font-family: 'Crimson Pro', serif;
    margin-bottom: 50px;
    padding: 11px 25px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    width: 115px;
    box-shadow: 5px 5px 4px black;
}