/* Header */

.blog-page-header {
  display: grid;
  justify-content: center;
  align-items: center;
}

.blog-page-header .header-container img {
  display: block;
  height: 576px;
  width: 922px;
  margin: 0px auto;
}

blockquote {
  font-family: "Crimson Pro", serif;
  font-size: 30px;
  text-align: center;
  color: #8b5413;
}

/* Blog Posts Section */

.posts {
  position: relative;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 30px 10%;
}

.posts .posts-img img {
  display: block;
  height: 400px;
  width: 600px;
  margin: 0px auto;
}

.content p {
  font-family: "Crimson pro", serif;
  text-align: center;
  text-align: justify;
}
